@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.adv-item
		margin-bottom: 55px
		.h2
			margin-bottom: 55px
		.square
			top: 63px
			left: 135px

	.s-block-2
		.button
			display: inline-block
			padding: 16px 22px
			margin-top: $gutter/2
			margin-right: $gutter
			&:last-child
				margin-right: 0
		input
			width: 100%
			margin-bottom: $gutter/2

	.content-item
		min-height: 300px
		.price-block
			margin: 0 18px 18px 18px
			padding: 16px 25px 16px 25px
			.button
					padding: 16px 20px
		
// ≥992px
+media-breakpoint-down(md)
	
	.main-menu
		display: none
		padding: 20px
		ul 
			li
				&.active
					&::after
						display: none

	.mobile-menu-button
		display: block

	.adv-item
		margin-bottom: 55px
		.h2
			margin-bottom: 55px
		.square
			top: 63px
			left: 95px

	.s-block-2
		.news-wrapper
			margin-top: $gutter/2

	.block 
		background:
			image: url(../img/content-background.jpg)
			position: center
			repeat: repeat
		padding: $gutter $gutter

		.button-wrapper
			text-align: center
			margin: 0
			padding: 0
			.all-news-button
				display: inline-block
				margin-bottom: $gutter

	.section-gallery
		margin: $gutter 0

	.aside-box
		legend
			margin: 0 0 $gutter 0
			font-size: 28px
		.checkbox
			display: inline-block
			margin: 0 $gutter/2 $gutter/2 0
		.h2
			margin: $gutter 0 0 0
			font-size: 28px
		.button
			margin: $gutter 0

// ≥768px
+media-breakpoint-down(sm)

	.adv-item
		margin-bottom: 15px
		.h2
			margin-bottom: 35px
			font-size: 25px
		.square
			width: 10px
			height: 10px
			top: 50px
			left: 248px

// ≥576px
+media-breakpoint-down(xs)

	.adv-item
		margin: 5px 10px
		.h2
			margin-bottom: 0
			font-size: 25px
		.square
			display: none
	.s-block-1
		.h2
			font-size: 25px
	.s-block-2
		.block 
			margin-top: -$gutter*2
			.h2
				font-size: 25px

	.s-block-2
		.button
			width: 100%

	.button-gallery-prev, .button-gallery-next
		display: none

	.profile
		padding: 36px 40px
		p
			margin: 16px 0


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
